*.csv
*.docx
*.pdf
*.db
*.sqlite3

build
dist
archive

TEMPLATES_DIRECTORY/

.DS_Store

1a8cd962-c335-4fcc-a11e-8f07e0c23d7b/
__pycache__/
legacy_java/
.gradle/
.gradle
build.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
*.spec

test.*

.env