Kunden.csv
neueRechnung.docx
Rechnungsvorlage.docx
src/Rechnungsvorlage.docx
TEMPLATES_DIRECTORY/
.DS_Store
src/.DS_Store
src/1a8cd962-c335-4fcc-a11e-8f07e0c23d7b/
neu_Rechnungsvorlage.docx
src/__pycache__/
~$chnungsvorlage.docx